<div class="container mt-5">

  <div>
    <h2 *ngIf="onEdition">Update card :</h2>
    <h2 *ngIf="!onEdition">Create card :</h2>
  </div>

  <form [formGroup]="creationForm" (submit)="creationCard()">

    <div class="col-sm-6 col-md-4" >
      <label>Card name</label>
      <input placeholder="Name"
             type="text"
             class="form-control"
             formControlName="name"
             [class.is-invalid]="(name.touched || name.dirty) && name.invalid"
             [class.is-valid]="name.valid"
      >
      <div *ngIf="(name.touched || name.dirty) && name.invalid"
          class="alert-danger"
      >
        <div *ngIf="name.errors?.['required']">
          name required
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <label>Card picture</label>
      <input placeholder="Picture" type="text" name="CardPicture" class="form-control" formControlName="picture">
    </div>

    <div class="col-sm-6 col-md-4">
      <label>Card level</label>
      <input placeholder="Level" type="number" min="1" name="CardLevel" class="form-control" formControlName="powerLvl">
    </div>

    <div class="col-sm-6 col-md-4">
      <label>Card description</label>
      <input placeholder="Description" type="text" name="CardDescription" class="form-control" formControlName="description">
    </div>

    <div class="col-sm-6 col-md-4">
      <label>Card location</label>
      <input placeholder="Location" type="text" name="CardLocation" class="form-control" formControlName="location">
    </div>

    <div class="col-sm-6 col-md-4">
      <label for="ability">Choose an ability:</label>
      <select class="form-select" id="ability" formControlName="ability">
        <option *ngFor="let ability of abilities"
                [ngValue]="ability"
                [disabled]="ability === 'Choose an option'"
        >{{ability}}</option>
      </select>
    </div>

    <div class="col-sm-6 col-md-4">
      <label for="row">Choose an row:</label>
      <select class="form-select" id="row" formControlName="rowName">
        <option *ngFor="let rowName of rowNames"
                [ngValue]="rowName"
                [disabled]="rowName === 'Choose an option'"
        >{{rowName}}</option>
      </select>
    </div>

    <div class="col-sm-6 col-md-4">
      <label for="type">Choose a type:</label>
      <select class="form-select" id="type" formControlName="type">
        <option *ngFor="let type of types"
                [ngValue]="type"
                [disabled]="type === 'Choose an option'"
        >{{type}}</option>
      </select>
    </div>


   <div class="col-sm-6 col-md-4">
     <label for="cardDeck">Choose a cardDeck:</label>
     <select class="form-select" id="cardDeck"  formControlName="cardDeck">
       <option [selected]="true" disabled value="0">Choose an option</option>
       <option *ngFor="let cardDeck of cardDecks" [ngValue]="cardDeck">
         {{ cardDeck.name }}
       </option>
     </select>
   </div>

    <div *ngIf="error != ''">
      <p>{{error}}</p>
    </div>

    <div class="mt-2">
      <button type="submit" class="btn btn-success"
              *ngIf="!onEdition"
              [disabled]="creationForm.invalid"
      >
        Create
      </button>
      <button type="submit" class="btn btn-success"
              *ngIf="onEdition"
              [disabled]="creationForm.invalid"
      >
        Update
      </button>
    </div>

  </form>
</div>
